<h1 class="text-center .lead" >Spark Eighteen Services</h1>

<h4 class="text-center">If its digital, its Spark Eighteen.</h4>

<div class="col-md-6">
  <div>
    <h2>Design & Development
    </h2>
    <p>An aesthetic appeal for your complete digital presence is what it takes, and we deliver just that.


    </p>
  </div>

  <div>
    <h2>Affiliate Marketing
    </h2>
    <p>You bring the bread, we bring the butter. When it comes to digital presence, suggestions for the right partners are just an enquiry away. Get your digital presence, viral!




    </p>
  </div>

  <div>
    <h2>Web/App Development

    </h2>
    <p>
      You are only as good as what your website portraits. Leave the development to us, as you rejoice in the compliments of your online appeal.






    </p>
  </div>
</div>



<div class="col-md-6">
  <div>
    <h2>Digital Marketing


    </h2>
    <p>
      If you’ve got a target audience online, we’ll help you reach them a 100%! If you don’t, lets make one together. We’re a one stop shop for digital delivery.








    </p>
  </div>

  <div>
    <h2>Social Media Marketing



    </h2>
    <p>
      If you’ve got the goods, the world wide web deserves to know. Moreover, we’d like to take you to a market thats bursting with enthusiasm and interest.










    </p>
  </div>

  <div>
    <h2>Digital Media Consulting




    </h2>
    <p>
      The online space has a lot to offer, by partnering with us, insights of the digital world are just an email away.











    </p>
  </div>




</div>


