<div class="container animated bounceInLeft">

<div class=" col-md-5" style="height: 100px">
  <div class="w3-third w3-container w3-black w3-large" style="height:250px">
    <h2>Contact Info</h2>
    <p><i class="fa fa-map-marker" style="width:30px"></i> Plot No. 2, Shambhu Dayal Marg Kalkaji, Near Okhla
      Phase 3 Metro Station Construction [Opp. Modi Mill]
      New Delhi:110020

    </p>
    <p><i class="fa fa-phone" style="width:auto"></i> Phone: +91 965 480 6139</p>
    <p><i class="fa fa-envelope" style="width:auto"> </i> Email: coffee@sparkeighteen.com</p>
  </div>
  <div class="w3-third w3-center w3-large w3-dark-grey w3-text-white" style="height:250px">
    <h2>Contact Us</h2>
    <p>If you have an idea.</p>
    <p>What are you waiting for?</p>
  </div>
  <div class="w3-third w3-center w3-large w3-grey w3-text-white" style="height:250px">
    <h2>Like Us</h2>
    <i class="w3-xlarge fa fa-facebook-official"></i><br>
    <i class="w3-xlarge fa fa-pinterest-p"></i><br>
    <i class="w3-xlarge fa fa-twitter"></i><br>
    <i class="w3-xlarge fa fa-flickr"></i><br>
    <i class="w3-xlarge fa fa-linkedin"></i>
  </div>

  <div class="w3-container w3-text-grey">
    <p>Powered by <a href="" target="_blank">Spark18</a></p>
  </div>
</div>
<div class="col-md-7">

  <div class="row">
    <div class="col-xs-12">
      <form [formGroup] ="taskForm" (ngSubmit) = "submitForm()">
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success" [disabled] = "!taskForm.valid" >Send</button>
            <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control"
                     formControlName="name">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" id="email" class="form-control"
                     formControlName="email" >
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="subject">Subject: </label>
              <input type="text" id="subject" class="form-control"
                     formControlName="subject" >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="message">Message: </label>
              <input type="text" id="message" class="form-control"
                     formControlName="message" >
            </div>
          </div>
        </div>














      </form>




    </div>


  </div>


</div>

</div>
